
#fondo {
    background-color: rgba(29, 134, 240, 0.253); 
    width: 300px;
    height: 200px;
    border: 3px solid black;
  }
  

  .medida-absoluta {
    width: 400px;
    font-size: 24px;
    border: 4px dotted rgb(74, 172, 230); 
  }
  

  .medida-relativa {
    width: 50%;
    font-size: 2em;
    border: 6px double rgb(7, 104, 248); 
  }
  