.compartida {
    color: mediumslateblue;
    font-weight: bold;

}

p {
font-size: 10px;    
}

.texto {
    color: crimson;


}

.borde {

   
        border: 5px solid rgb(0, 110, 255);
        border-radius: 15px;
            
    
}